header {
  width: 100vw;
  background-color: rgba(80, 56, 143, .8);
  text-align: left;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  font-size: 2em;

  a {
    color: #CECDD2;
    transition: color 0.3s ease;

    &:hover {
      color: darken(#CECDD2, 20%)
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 0px 10px;
    }
  }
  .searchbar {
    input {
      height: 30px;
      width: 50vw;
      min-width: 300px;
      background-color: #AEAAAF;
      border: none;
      margin: 10px;
      border-radius: 5px;
    }
    button {
      border-radius: 5px;
      background-color: #A9A8D2;
      color: #fff;
      height: 30px;
      margin: 5px;
    }
  }
}
