// /* Color Theme Swatches in Hex */
$dkrpurp :#513891;
$ltpurp: #A9A8D2;
$offwhite: #CECDD2;
$grey: #AEAAAF;
$drkgrey: #4A4A4C;

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


body {
  background-color: $offwhite;
  font-family: 'Teko', sans-serif;
  font-style: italic; 
  font-weight: lighter;
  color: $drkgrey;
  text-align: center;
}

//GameCard
#game-card{
  border: 2px solid $drkgrey;
  display: flex;
  justify-content: center;
}

#game-img {
  max-height: 200px;
  max-width: 150px;
  margin: 20px;
}

#game-info {
  width: 600px;
  text-align: left;
}
